@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');
:root {
  --black: #000;
  --red: #650e10;
  --white: #fff;
}

body {
  font-family: "Advent Pro", sans-serif;
  background: black;
  color: white;
}

main {
  scrollbar-color: rgb(0, 0, 0) rgb(0, 0, 0);
  scrollbar-width: thin;
}

main::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(0, 0, 0);
}

main::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #000000;
}

/* ============================================================ */
/* =========================== HOME =========================== */
/* ============================================================ */


/* ===== MENU ===== */
.burger-icon {
  position: fixed;
  width: 2rem;
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 2%;
  right: 6%;
  z-index: 2000;
  cursor: pointer;
  padding-bottom: 2px;
}

.burger-icon span {
  background-color: white;
  width: 100%;
  height: 3px;
  border-radius: 20px;
}

.menu {
  background-color: #000;
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(0);
  right: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
  transition: 0.6s;
  padding-top: 60px;
  overflow-y: scroll;
  scrollbar-color: rgb(0, 0, 0) rgb(0, 0, 0);
  scrollbar-width: thin;
}

.menu::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(0, 0, 0);
}

.menu::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #000000;
}

.menu-container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu .menu-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu .logo {
  /* height: 30%; */
  display: flex;
  align-items: flex-end;
  margin-bottom: 30%;
}

.menu .logo img {
  margin-bottom: 45px;
}

.menu .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .nav-item img {
  height: 50px;
  margin: 10px;
}

.menu nav {
  height: 70%;
}

.menu nav ul {
  color: white;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: 400;
}

.menu nav ul li a {
  color: white;
  padding: 5px;
  transition: all .25s;
}

.menu nav ul li a:hover {
  border-bottom: 2px solid white;
  letter-spacing: 5px;
  border-top: 2px solid white;
}

.display-none {
  transform: translateX(-100%);
  opacity: 0;
}

.active {
  /* display: inline-block; */
  padding-bottom: 4px;
  border-bottom: 2px solid white;
}

@media (min-width: 56rem) {
  .menu-container {
    width: 90%;
    max-width: 75rem;
  }

  .menu-content {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .menu .logo {
    height: 20%;
    margin: 0 auto;
    align-items: center;
  }
  .menu nav {
    padding-top: 4rem;
  }

}


/* ===== HEADER ===== */

#myvideo {
  display: none;
  margin: 0 auto;
}

header h2{
  text-align: center;
  font-size: 2rem;
}

.header-title img {
  position: fixed;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 2%;
  left: 6%;
  z-index: 2;
  cursor: pointer;
  padding-bottom: 2px;
}

@media (min-width: 541px) {
  #myvideo {
    display: block;
    width: 95%;
  }
  #mysmallvideo {
    display: none;
  }
}


/* ===== INTRODUCTION ===== */

.introduction {
  margin-top: 60px;
  background-image: url(../img/vertical-grapes.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 48rem;
}

.icones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction-right img,
.introduction-center img,
.introduction-left img {
  height: 4.5rem;
  margin: 10px;
}


.introduction-right, 
.introduction-center,
.introduction-left {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19rem;
  text-align: center;
  margin: 10px;
  padding-bottom: 25px;
}

@media screen and (min-width: 720px) {
  .icones {
    flex-direction: row;
    align-items: normal;
    justify-content: space-around;
  }
  .introduction-left, .introduction-center, .introduction-right {
    width: 14rem;
    padding-top: 218px;
  }
}

/* ===== SWIPER ===== */

.swiper-img-left img {
  display: none;
}

.slider {
  background-image: url(../img/weeds.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 3rem;
}

.swiper-pagination-bullet {
  background-color: var(--white) !important;
}

.swiper-pagination {
  height: 125px;
}

.bottle {
  text-align: center;
}

.swiper .bottle img {
  margin: 25px;
  height: 330px;
}

.bottle-info {
  text-align: center;
}

.bottle-name {
  font-size: 1.8em;
  margin: 0.5em;
  text-align: center;
}

.bottle-location {
  color: rgb(129, 52, 52);
  font-size: 1.5em;
  font-weight: bold;
}

.bottle-location-white {
  color: #E4CC85;
  font-size: 1.5em;
  font-weight: bold;
}

.bottle-year {
  color: white;
  font-size: 1.4em;
}

.bottle-grapes {
  color: rgb(129, 52, 52);
  font-size: 1.5em;
  font-weight: bold;
}

.bottle-grapes-white {
  color: #E4CC85;
  font-size: 1.5em;
  font-weight: bold;
}

.bottle-description {
  display: none;
} 

.button {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 45px;
}
.button a {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: white;
  padding: 10px;
  letter-spacing: 1.5px;
  margin-top: 12px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  transition: all .25s;
  border-radius: 6px;
}

.button a:hover {
  letter-spacing: 5px;
}

/* ===== FOOTER ===== */

footer {
  background-color: rgb(0, 0, 0);
  font-size: 1.2em;
  margin: 15px;
}

.footer-container {
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left,
.footer-right {
  margin: 15px;
  text-align: center;
}

.footer-logo-container {
  text-align: center;
}
.footer-logo-container p {
  margin: 5px;
}

.footer-left a {
  text-decoration: none;
  color: gray;
  transition: all .25s;
}

.footer-left a:hover {
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  letter-spacing: 5px;
}

.footer-left p, .footer-right p {
  margin: 7px;
}

.footer-logo-container img {
  height: 48px;
}

@media (min-width:873px) {
  .footer-container {
    width: 95%;
    margin: auto;
    flex-direction: row;
  }
  .footer-left, .footer-right, .footer-logo-container {
    width: 35%;
  }
}

#footer-push {
  height: 30px;
}

/* =========================== */
/* ======== DASHBOARD ======== */
/* =========================== */

#dashboard {
  /* background: #2b2b2b; */
  background: rgb(44, 49, 53);
}

.tophead {
  height: 284px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dash {
  background: url(../img/cave.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mine {
  background: url(../img/cellar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.addw {
  background: url(../img/addwine.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.usersh {
  background: url(../img/verres.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pwdc {
  background: url(../img/pwd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail {
  background: url(../img/details.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cont {
  background: url(../img/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.emai {
  background: url(../img/emai.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tophead img {
  height: 60px;
  margin-right: 10px;
}
.tophead h2 {
  font-size: 33px;
  text-align: center;
  line-height: 284px;
  vertical-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.searchbar {
  width: 95%;
  background: black;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  margin-top: 10px;
  padding: 15px;
  align-items: center;
  box-shadow: 5px 5px 10px -3px rgba(101, 101, 101, 0.99);
}

.search-option {
  display: flex;
}
.search-sort {
  display: flex;
}

#dashboard .btn {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: white;
  padding: 10px;
  letter-spacing: 1.5px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  transition: all .25s;
  border-radius: 6px;
  }
  
#dashboard .btn:hover {
    letter-spacing: 5px;
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}
.grid > * {
  grid-column: span 6;
}

/* cards */
.card {
  border-radius: 15px;
  /* box-shadow: 5px 5px 10px -3px rgba(101, 101, 101, 0.99); */
  box-shadow: black 1px 1px 15px;
  background-color: black;
  transition: ease-out 0.2s;
  width: 319px;
  text-align: center;
}
.card:hover{
  /* border-radius: 55px; */
  background-color: rgb(39, 39, 39);
}
.card__head {
  display: grid;
  justify-items: center;
}
.card__head img {
  height: 500px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card__body {
  padding: 20px 10px;
}

.card__body h5 {
  font-size: 1.8rem;
}

.card__body .btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  margin-top: 20px;
  letter-spacing: 1.5px;
  transition: all .25s;
  font-weight: bold;
}

.card__body .btn:hover {
  letter-spacing: 5px;
}

.card__body .btn-red {
  color: var(--white);
  border-top: 2px solid var(--red);
  border-bottom: 2px solid var(--red);

}

.card__body .btn-white {
  color: var(--white);
  border-top: 2px solid #E4CC85;
  border-bottom: 2px solid #E4CC85;
}

.card-text {
  font-size: 1.2rem;
  margin-top: 1.3px;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-size: 20px;
}

.red {
  color: #650e10;
  font-size: 1.5rem;
  font-weight: bold;
}

.white {
  color: #E4CC85;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .grid > * {
    grid-column: span 3;
  }
  .searchbar {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1080px) {
  .grid > * {
    grid-column: span 2;
  }
}

@media screen and (min-width: 435px) {
  .tophead h2 {
    font-size: 48px;
  }
}

@media screen and (min-width: 504px) {
  .tophead h2 {
    font-size: 60px;
  }
}

/* ========================== */
/* ======== MY WINES ======== */
/* ========================== */

#infocard {
  background: black;
  border-radius: 20px;
  margin: 20px;
}

#infocard h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  padding: 10px;
}

#info-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 1.2rem;
}

/* ========================= */
/* ======== CONTACT ======== */
/* ========================= */

#icon-rs {
  display: flex;
}

#icon-rs img {
  height: 45px;
  margin: 10px;
  transition: all 0.4s;
}

#icon-rs img:hover {
  height: 50px;
}