@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');
:root {
  --black: #000;
  --red: #650e10;
  --white: #fff;
}

body {
  font-family: "Advent Pro", sans-serif;
  background: black;
  color: white;
}

/* ============================================================ */
/* =========================== HOME =========================== */
/* ============================================================ */


/* ===== MENU ===== */
.burger-icon {
  position: fixed;
  width: 2rem;
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 2%;
  right: 6%;
  z-index: 2000;
  cursor: pointer;
  padding-bottom: 2px;
}

.burger-icon span {
  background-color: white;
  width: 100%;
  height: 3px;
  border-radius: 20px;
}

.menu {
  background-color: #000;
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(0);
  right: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
  transition: 0.6s;
}

.menu-container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu .menu-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu .logo {
  height: 30%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 30%;
}

.menu .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .nav-item img {
  height: 50px;
  margin: 10px;
}

.menu nav {
  height: 70%;
}

.menu nav ul {
  color: white;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: 400;
}

.menu nav ul a {
  color: white;
}

.menu nav ul li a:hover {
  border-bottom: 1px solid white;
}

.display-none {
  transform: translateX(-100%);
  opacity: 0;
}

.active {
  /* display: inline-block; */
  padding-bottom: 4px;
  border-bottom: 1px solid white;
}

@media (min-width: 56rem) {
  .menu-container {
    width: 90%;
    max-width: 75rem;
  }

  .menu-content {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .menu .logo {
    height: 20%;
    margin: 0 auto;
    align-items: center;
  }
  .menu nav {
    padding-top: 4rem;
  }

}


/* ===== HEADER ===== */

#myvideo {
  display: none;
  margin: 0 auto;
}

header h2{
  text-align: center;
  font-size: 2rem;
}

.header-title img {
  position: fixed;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 2%;
  left: 6%;
  z-index: 2000;
  cursor: pointer;
  padding-bottom: 2px;
}

@media (min-width: 541px) {
  #myvideo {
    display: block;
    width: 95%;
  }
  #mysmallvideo {
    display: none;
  }
}


/* ===== INTRODUCTION ===== */

.introduction {
  min-height: 555px;
  background-image: url(../img/vertical-grapes.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.introduction-right img,
.introduction-left img {
  height: 3.5rem;
  z-index: 2;
  margin: 10px;
}


.introduction-right,
.introduction-left {
  width: 80%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.introduction-left {
  margin-top: 6rem;
}

.introduction-right {
  margin-top: 6.3rem;
  text-align: end;
  margin-left: 3rem;
}

.introduction-img {
  display: none;
}

@media (min-width:375px) {
  .introduction-right {
    margin-left: 5rem;
    margin-top: 11.3rem;
  }
}

@media (min-width:540px) {
  .introduction-left {
    padding-top: 20px;
  }
}

@media (min-width:1000px) {
  .introduction {
    min-height: 700px;
  }
  .introduction-left {
    padding-top: 87px;
    padding-right: 35px
  }
}
/* .introduction {
  display: flex;
  justify-content: space-between;
  border-top: 8px solid rgba(4, 9, 12, 1);
}

.introduction-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2em;
  font-size: 1.7em;
  text-align: center;
}

.introduction-left {
  width: 55%;
  margin-left: -8em;
  z-index: 2;
}
.introduction-right {
  width: 55%;
  margin-right: -15.5em;
  z-index: 2;
}
.introduction-right,
.introduction-left {
  display: flex;
  align-items: center;
  font-size: 1.4em;
}

.introduction-right img,
.introduction-left img {
  height: 70px;
  z-index: 2;
}

.introduction-left img {
  margin-right: 15px;
}

.introduction-right img {
  margin-left: 15px;
}

.introduction-img img {
  height: 923px;
} */

/* ===== SWIPER ===== */

.swiper-img-left img {
  display: none;
}

.swiper {
  background-image: url(../img/weeds.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 5rem;
}

.swiper-pagination-bullet {
  background-color: var(--white) !important;
}

.swiper-pagination {
  height: 125px;
}

.bottle {
  text-align: center;
}

.swiper .bottle img {
  margin: 25px;
  height: 330px;
}

.bottle-info {
  text-align: center;
}

.bottle-name {
  font-size: 1.8em;
  margin: 0.5em;
  text-align: center;
}

.bottle-location {
  color: rgb(129, 52, 52);
  font-size: 1.5em;
  font-weight: bold;
}

.bottle-location-white {
  color: #E4CC85;
  font-size: 1.5em;
  font-weight: bold;
}

.bottle-year {
  color: white;
  font-size: 1.4em;
}

.bottle-grapes {
  color: rgb(129, 52, 52);
  font-size: 1.5em;
  font-weight: bold;
}

.bottle-grapes-white {
  color: #E4CC85;
  font-size: 1.5em;
  font-weight: bold;
}

.bottle-description {
  display: none;
} 


/* ===== FOOTER ===== */

footer {
  background-color: rgb(0, 0, 0);
  padding-top: 5rem;
  font-size: 1.2em;
  background-image: url(../img/logo-blanc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.footer-container {
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left,
.footer-right {
  margin: 15px;
  text-align: center;
}

.footer-left a {
  text-decoration: none;
  color: gray;
}

.footer-left a:hover {
  border-bottom: 1px solid gray;
}

.footer-left p, .footer-right p {
  margin: 7px;
}

.footer-logo-container img {
  height: 48px;
}

@media (min-width:873px) {
  .footer-container {
    width: 95%;
    margin: auto;
  }
  .footer-logo-container {
    display: none;
  }
}

/* @media (min-width: 1000px) {
  .footer-container {
    width: 98%;
    flex-direction: row;
  }
  .footer-left {
    min-width: 255px;
  }
  .footer-right {
    min-width:
  }
} */




/* =========================== */
/* ======== DASHBOARD ======== */
/* =========================== */

/* container */
/* .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
} */

/* grid */
/* .grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(6, 1fr);
}
.grid > * {
  grid-column: span 6;
} */
